body {
  background: url("../../img/venice.jpeg") no-repeat center center fixed;
  background-size: cover;
}

.jumbotron {
  background-color: #992600;
  text-align: center;
}

#user-image {
  display: none;
  width: auto;
  height: 10em;
  padding-left: 30%;
}

#user-form, .output-div {
  width: 40em;
  padding: 5px;
  background-color: rgba(200, 200, 200, 0.8);
}
